<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta hrrp-equiv="X-UA-compatible" contect="IE=edge">
    <meta name="viewport" contect="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/JenisBuku">JualBuku</a> | <a href="/JenisBukus">detil JualBuku</a>
    {%block judul%}

    {% endblock judul%} 
    {% block kotak%}

    {% endblock kotak%}

</body>
</html>