{% extends 'base.html'%}

{% block kotak %}
<h1>INI JENIS BARANG YANG DIJUAL</h1>

<table border="1">
    <tr>
        <td>no</td>
        <td>nama barang</td>
        <td>harga</td>
        <td>jumlah</td>

    </tr>
    <tr>
        <td>1</td>
        <td>buku pedidikan</td>
        <td>rp 50.000</td>
        <td>12</td>
    </tr>
    <tr>
        <td>2</td>
        <td>buku sejarah</td>
        <td>rp 50.000</td>
        <td>4</td>
    <tr>
</table>

{% endblock kotak %}
