<!DOCTYPE html>
<html>
<head>
    <title>membuat beckground di html</title>
    <style>
        body {
            background-color: rgb(108, 182, 157);
            font-style: normal;
        }
    </style>
    <body>
</body>
 {% extends 'base.html' %} 

{% block judul %} 
<h1 id="judul">JUAL BUKU</h1>

{% endblock judul %} 

{% block kotak %} 
<p> menjual jenis buku mulai dari buku sejarah, buku pendidikan , buku sastra, buku agama, dll</p>

<p> yuk belanja di toko kami nanti dapat diskon</p>

{% endblock kotak %} 

